{% extends 'base.html.twig' %}

{% block title %}Demande enregistrée{% endblock %}

{% block body %}
    <div class="mx-auto max-w-lg px-4 py-16 text-center font-sans">
        <h1 class="font-serif text-2xl text-text-primary">Demande transmise</h1>
        <p class="mt-4 text-text-secondary">L’éditeur en sera informé.</p>
    </div>
{% endblock %}
